:root {
  --background-color: #3B6064;
  --accent-color: #DBCFB0;
  --accent-color-hover: #bbad8a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: var(--accent-color);
}

.body{
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  opacity: 0.2;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: center;
  margin: auto;
  font-size: 8.5rem;
}

#h1Part1 {
  transform: rotate(180deg);
}